.text-prop1 p{
    text-align: justify;
    border: solid rgb(0, 0, 0);
}
.text-prop2 p{
    text-align: right;
    border: solid;
}
.link-line a{
    text-decoration: none;
    border: solid;
}
.text-prop4{
    text-align: right;
    text-shadow: 0.1rem 0.1rem 0.2rem #000;
    border: solid;
}
.text-prop5{
    border:solid;
}
.text-prop6{
    font-style: italic;
}
.p-30px{
    font-size: 30px;
}
.p-lg{
    font-size: 200%;
}
.car{
  font-size:30px;
  color: #f50000;
}
.bi-radioactive{
    font-size: 40px;
    color: #ffdd04;
}
.bi-xbox{
    font-size: 50px;
    color: #058800;
}
.position-1{
    height: 100px;
    width: 100px;
    background-color: rgb(0, 0, 255);
    position: relative;
    top: 30px;
    border: solid;
}
.position-2{
    height: 100px;
    width: 100px;
    background-color: rgb(0, 0, 255);
    position: relative;
    left: 300px;
}
.position-13 img{
    height: 200px;
    width: 350px;
    position:relative;
}
.img2{
    right: 350px;
    z-index: 1;
}
.img1{
    z-index: 2;
}
.box{
    width: 20%;
    height: 200px;
    border: solid 1px #000;
    float: left;
}

